<div id = "head">
<h1>About Us</h1>
</div>
<div id = "top2">
    <div class = "jumbotron center">
<p>This is a demo application that is used to test the rails framework and learn ruby code.
    This domain and site will not be used for monetary purposes and will be frequently modified
    by the creator</p>
</div>
<div id = "top3">
    <h1><%= link_to "Click Here", profile_path, class: "btn btn-success btn-lg" %> to access the profile section</h1>
</div>
</div>