
<div class = "jumbotron center">
<h1>AWESOMENESS Ver 1.0</h1>
<div class ="container">
<p><%= link_to 'Log in',"#", class: "btn btn-default btn-lg" %> 
<p><%= link_to 'Sign up',"#", class: "btn btn-primary btn-lg" %></p>
</div>
</div>