<h1> Social Page </h1>
<div class = 'jumbotron center'>
<div class ='container'>
<div class ='container'>
<p>This is the Social Page <%= link_to 'Social Sign in','#', class: "btn btn-primary bt-lg" %></p>

</div>
</div>
</div>